<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <a href="/" id="logo">Sample APP</a>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/">Home</a></li>
                <li><a href="/myHome.html">Posts Manager</a></li>
                <li><a href="/register.html">Register</a></li>
                <li><a href="/login.html">Login</a></li>
                <li><a href="/testPage.html">Test Page</a></li>
            </ul>
        </nav>
    </div>
</header>