<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Hero: Home</title>
    <header class="navbar navbar-fixed-top navbar-inverse">
        <div class="container">
            <nav>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="home.html">Home</a> </li>
                    <li><a href="posts.html">Posts</a> </li>
                    <li><a href="portal.html">My Home</a></li>
                    <li><a href="myblog.html">My Blog</a> </li>
                    <li><a href="login.html">Login</a> </li>
                    <li><a href="register.html">Register</a> </li>
                </ul>
            </nav>
        </div>
    </header>
</head>
<body>
    <div class="center jumbotron">
        <h1>Blog Hero</h1>

        <h2>
            Welcome to Blog Hero, <a href="register.html">sign up</a> and become a blog hero today!
        </h2>

    </div>
</body>
</html>