#{extends 'main.html' /}
#{set title:'Login' /}

<div class="center jumbotron">
    <h1>Login</h1>
    <legend></legend>
    <form class="form-inline" action="@{Application.loginSubmit}" method="post">
        <div class="form-group-sm">
            <label class="control-label" for="username">Username: </label>
            <input type="text" name="username" class="form-control" placeholder="Username"/>
        </div>
        <br>
        <div class="form-group-sm">
            <label class="control-label" for="password">Password: </label>
            <input type="password" name="password" class="form-control" placeholder="Password"/>
        </div>
        <br>
        <button type="submit" class="btn" value="login">Login</button>
    </form>

</div>